<a href="https://colab.research.google.com/github/lutfi777/digitalskola/blob/main/Homework_ETL_From_Scratch_with_Python_(Scraping).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scrapping

In [95]:
import pandas as pd
import logging

logging.basicConfig(level=logging.INFO)

In [96]:
url = "https://id.wikipedia.org/wiki/Daftar_miliarder_Forbes"

In [97]:
def scrape(url):
  logging.info(f"Scraping website with url: '{url}' ...")
  return pd.read_html(url, header=None)

In [98]:
dfs = scrape(url)[2]

INFO:root:Scraping website with url: 'https://id.wikipedia.org/wiki/Daftar_miliarder_Forbes' ...

In [99]:
dfs

   No.                      Nama  ...       Kebangsaan     Sumber kekayaan
0  NaN                Jeff Bezos  ...  Amerika Serikat              Amazon
1  NaN                Bill Gates  ...  Amerika Serikat           Microsoft
2  NaN  Bernard Arnault & family  ...          Prancis                LVMH
3  NaN            Warren Buffett  ...  Amerika Serikat  Berkshire Hathaway
4  NaN             Larry Ellison  ...  Amerika Serikat  Oracle Corporation
5  NaN            Amancio Ortega  ...          Spanyol       Inditex, Zara
6  NaN           Mark Zuckerberg  ...  Amerika Serikat      Facebook, Inc.
7  NaN                Jim Walton  ...  Amerika Serikat             Walmart
8  NaN              Alice Walton  ...  Amerika Serikat             Walmart
9  NaN          S. Robson Walton  ...  Amerika Serikat             Walmart

[10 rows x 6 columns]

#Cleaning Data

In [100]:
import re

In [101]:
def is_money_miliar(string_money):
    # akan return True jika terdeteksi data yang berakhiran miliar
    return string_money.lower().endswith("miliar")

In [102]:
def transform_money_format(string_money):
    # mengganti koma menjadi titik dan menghilangkan spasi
    half_clean_string = string_money.lower().replace(",", ".").replace(" ", "")
    # mendeteksi string M atau miliar dan J atau juta dan menggantinya dengan string kosong
    return re.sub(r"[?\[M\]miliar|\[J\]juta]", "", half_clean_string)

In [103]:
def transform(df, tahun):
    logging.info("Transforming DataFrame ...")

    columns_mapping = {
        "Nomor Urut": "nomor_urut",
        "Nama": "nama",
        "Kekayaan Bersih (US$)": "kekayaan_bersih_usd",
        "Perusahaan": "perusahaan"
    }

    # mengganti nama2 column sebelumnya sesuai kebutuhan
    renamed_df = df.rename(columns=columns_mapping)

    # menambahkan column tahun dan memberinya value yang berasal dari parameter tahun
    renamed_df["tahun"] = tahun
    
    # Memberi nilai pada kekayaan_bersih_usd_juta dgn percabangan if else
    # Jika terdeteksi string miliar (is_money_miliar), maka dikali 1000 dan string miliar atau juta dihilangkan
    # Jika tidak, maka hanya menghilangkan string juta saja
    renamed_df["kekayaan_bersih_usd_juta"] = renamed_df["kekayaan_bersih_usd"].apply(
        lambda value: float(transform_money_format(value)) * 1000 if is_money_miliar(value) else float(transform_money_format(value))
    )

    return renamed_df[["nomor_urut", "tahun", "nama", "perusahaan", "kekayaan_bersih_usd_juta"]]

In [104]:
'''
# Normal python function
def a_name(x):
    return x+x

# Lambda function
lambda x: x+x
'''

'\n# Normal python function\ndef a_name(x):\n    return x+x\n\n# Lambda function\nlambda x: x+x\n'

In [ ]:
df_2021 = transform(dfs, 2021)

In [ ]:
df_2021

Storing Data to Database

In [50]:
pip install psycopg2-binary==2.8.6

Collecting psycopg2-binary==2.8.6
  Downloading psycopg2_binary-2.8.6-cp37-cp37m-manylinux1_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 5.3 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6

In [51]:
from sqlalchemy import create_engine

In [61]:
DB_NAME = "postgres"
DB_USER = "user1"
DB_PASSWORD = "user1"
DB_HOST = "104.197.148.144"
DB_PORT = "5432"
CONNECTION_STRING = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
TABLE_NAME = "orang_terkaya_indonesia"

In [62]:
CONNECTION_STRING

'postgresql://user1:user1@104.197.148.144:5432/postgres'

In [63]:
def write_to_postgres(df, db_name, table_name, connection_string):
    engine = create_engine(connection_string)
    logging.info(f"Writing dataframe to database: '{db_name}', table: '{table_name}' ...")
    df.to_sql(name = table_name, con=engine, if_exists="replace", index=False)

In [ ]:
write_to_postgres(df=df_2021, db_name=DB_NAME, table_name=TABLE_NAME, connection_string=CONNECTION_STRING)

# Read Data from Database

In [72]:
def read_from_postgres(db_name, table_name, connection_string):
    engine = create_engine(connection_string)

    logging.info(f"Reading postgres database: '{db_name}', table: '{table_name}' ...")
    return pd.read_sql_table(table_name, con=engine)

In [ ]:
result_df = read_from_postgres(db_name=DB_NAME, table_name=TABLE_NAME, connection_string=CONNECTION_STRING)

In [ ]:
print("Daftar Orang Terkaya Forber:")
print(result_df.to_string())

# Unittest

In [ ]:
import unittest

class TestTransformer(unittest.TestCase):
    def test_is_money_miliar_when_string_money_contains_miliar(self):
        string_money = "35.5 miliar"
        actual = is_money_miliar(string_money)

        self.assertTrue(string_money)
    
    
    def test_is_money_miliar_when_string_money_not_contains_miliar(self):
        string_money = "980 juta"
        actual = is_money_miliar(string_money)

        self.assertFalse(actual)
    
    
    def test_transform_money_format_when_money_is_juta(self):
        string_money = "980 Juta"
        actual = transform_money_format(string_money)

        self.assertEqual(actual, "980")
    

    def test_transform_money_format_when_money_is_miliar(self):
        string_money = "35.6 miliar"
        actual = transform_money_format(string_money)

        self.assertEqual(actual, "35.5")
    

    def test_transform_money_format_when_money_contains_comma(self):
        string_money = "35.5 miliar"
        actual = transform_money_format(string_money)

        self.assertEqual(actual, "35.5")

unittest.main(argv=[''], verbosity=2, exit=False)